<div class='banner green'> 
    <br><br>
    <div class='centredContent'>
        <button class='contactBtnOtherPage' type='button' onclick="window.location.href='/contact-form'">
            &emsp;Questions? Contact us now!&emsp;
        </button>
    </div>
    <br><br>
</div>

<div class='footDiv centredText'>
    <p>
        © 2021 Firefly Fictional Security Corporation, Company Registration No: 0987654321XYZ.
    </p>
</div>
