<div class='banner green'> 
    <br><br>
    <div class='centredContent'>
        <button class='contactBtnOtherPage' type='button' onclick="window.location.href='/contact-form'">
            Questions?<br>Contact us now!
        </button>
    </div>
    <br><br>
</div>

<%- include('./copyright.txt') %>
