<div id='headBanner' class='banner'>
    <div class='headBannerContentOtherPages'>
        <br>
        <img class='logoAtTopOtherPages' src="/public/company-logo.png" alt="Logo">
        <div class='headBannerChoicesOtherPages'>
            <!-- Using the scrollAndOffset() function, a higher positive number will place the target div lower on the screen. -->
            <span class='headBannerChoiceWrap'>
                <a class='headBannerChoiceToClick' href='/#videoElement'>About</a>
            </span>
            <span class='headBannerChoiceWrap'>
                <a class='headBannerChoiceToClick' href='/#offersDiv'><%= conceptsOnOffer %></a>
            </span>
            <span class='headBannerChoiceWrap'>
                <a class='headBannerChoiceToClick' href='/#contactDiv'>Contact us</a>
            </span>
            <span class='headBannerChoiceWrap'>
                <a class='headBannerChoiceToClick' href='/#mapDiv'>Find us</a>
            </span>
        </div>
    </div>
</div>
