<% let divId = divTitle.replace(/\W/g, '')+'Div' %>
<% const divChoice = '#' + divId.charAt(0).toLowerCase() + divId.slice(1) %>

<span class='headBannerChoiceWrap'><a class='headBannerChoiceToClick' onclick='scrollAndOffset("<%= divChoice %>", 166)'><%= divTitle %></a></span>
