<div id='headBanner' class='banner'>
    <div id='headBannerContent'>
        <br>
        <img class='logoAtTopOtherPages' src="/public/company-logo.png" alt="Logo">
        <div id='headBannerChoices'>
            <!-- Using the scrollAndOffset() function, a higher positive number will place the target div lower on the screen. -->
            <span>
                <a class='headBannerChoiceToClick' href='/#videoElement'>&emsp;&emsp;&emsp;About</a>
            </span>
            <span>
                <a class='headBannerChoiceToClick' href='/#offersDiv'>&emsp;&emsp;&emsp;<%= conceptsOnOffer %></a>
            </span>
            <span>
                <a class='headBannerChoiceToClick' href='/#contactDiv'>&emsp;&emsp;&emsp;Contact us</a>
            </span>
            <span>
                <a class='headBannerChoiceToClick' href='/#mapDiv'>&emsp;&emsp;&emsp;Find us</a>
            </span>
        </div>
    </div>
</div>
