                <div class='centredContent'>
                    <button type='button' class='btnToBuyPage'></button>
                </div>
            </div>
        <br>
        </div>            
    </div>
</div>