<% const divId = divTitle.replace(/\W/g, '')+'Div' %>
<div id=<%= divId %> class='infoOverallDiv'>
    <div class='infoBox'>
        <div class='infoTextBox'>
            <img src="../images/bodyguards-erdogan.jpeg" alt="photo" class='photoWithinTextBox'>
            <h1><%= divTitle %></h1>
            <div class='infoText'>
                <em>
                    <%= contentInitial %>
                </em>
            </div>
            <div class='infoText'>