<div class='infoOverallDiv'>
    <div class='infoBox'>
        <div class='infoTextBox'>
            <br>
            <div class='greenLeftBorder'>
                <div class='infoText'>
                    <br>
                    <em>
                        <%= contentInitial %>
                    </em>
                </div>
                <div class='infoText'>
                    <p>
                        <% let contentArray = contentMain.split('¶') %>
                        <% contentArray.forEach(parag => { %>
                            <p><%= parag %></p>
                        <% }) %>
                    </p>
                </div>
                <br>
            </div>
            <br>
        </div>            
    </div>
</div>