<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Transaction successful!</h2>
    <br>
    <h3>Payment details from Prettypay</h3>
    <p><%= currency %>&nbsp;<%= amount %> debited to your account.</p>
    <p>Unique transaction identifier: <%= id %></p>
    <br>
    <button><a href='/'>Return to home page.</a></button>
</body>
</html>