<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact form</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>

    <%- include('./partials/headBannerTop.ejs') %>
    <%- include('./partials/headBannerBottom.ejs') %>

    <div class='belowHeadBannerOtherPages'>

        <%- include('./partials/pageTitle.ejs', {pageTitle: 'Contact us!'}) %>

        <div class='infoBox'>
            <div class='infoTextBox'>
                <br>
                <div> <!-- <div class='greenLeftBorder greenRightBorder'> -->
                    <div class='infoText centredText'>
                        <br>
                        <span>Please send us a message!</span><br><br>
                        <form class='hundred' action="thankyou-for-contacting">
                            <input type='text' name='name' placeholder='Name' required><br><br>
                            <span>Please leave either your email or telephone number so we can contact you back!</span><br><br>
                            <input type='email' name='email' placeholder='E-mail'>
                            &emsp;
                            <input type='tel' name='telephone' placeholder='Telephone'><br><br>
                            <textarea name='message' placeholder='Type your message here!' required></textarea><br><br>
                            <button type='submit' class='contactBtnOtherPage'>Send message!</button>
                        </form>
                    </div>
                    <br>
                </div>
                <br>
            </div>
        </div>

        <div class='banner green'> 
            <br><br>
            <br><br>
            <br><br>
        </div>
        
        <div class='footDiv centredText'>
            <p>
                © 2021 Firefly Fictional Security Corporation, Company Registration No: 0987654321XYZ.
            </p>
        </div>
        

    </div>

</body>
</html>
