<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact form</title>
    <link rel="stylesheet" href="../styles/main.css">
    <script src="/javascripts/otherPages.js"></script>
</head>
<body>

    <%- include('./partials/headBannerWithLinks.ejs') %>

    <div class='belowHeadBannerOtherPages'>

        <%- include('./partials/pageTitle.ejs', { pageTitle: 'Contact us!' }) %>

        <div class='infoBox'>
            <div class='infoTextBox'>
                <br>
                <div>
                    <div class='infoText centredText'>
                        <br>
                        <span>Please send us a message!</span><br><br>
                        <form action="thankyou-for-contacting">
                            <input type='text' name='name' placeholder='Name' required><br><br>
                            <span>Please leave either your email or telephone number so we can contact you back!</span><br><br>
                            <input type='email' name='email' placeholder='E-mail'>
                            &emsp;
                            <input type='tel' name='telephone' placeholder='Telephone'><br><br>
                            <textarea name='message' placeholder='Type your message here!' required></textarea><br><br>
                            <button type='submit' class='contactBtnOtherPage'>Send message!</button>
                        </form>
                    </div>
                    <br>
                </div>
                <br>
            </div>
        </div>

        <div class='banner themeColour'>
            <br><br>
            <br><br>
            <br><br>
        </div>

        <%- include('./partials/copyright.txt') %>

    </div>

</body>
</html>
