<!-- This page is currently unlinked-to! It is a potential page for development, not in actual use. -->
<!-- Note also that it is in HTML, and would need to be changed to EJS. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/otherPages.js" async></script>
    <title>Join us</title>
</head>
<body>

    <h3>Join us...</h3>

    We are always on the lookout for talented individuals with the ability to develop and succeed in our
    very special organisation.

    If you have aptitude, a good working ethos, and hopefully some fantastic experience you can bring to our enterprise,
    we would love to hear from you! Use the contact page to give us a brief account of who you are and what you can do.
    We will contact you back with details of our opportunities and how to apply for them.

    <div id='contactBtnDiv' class='centredContent'>
        <button id='contactBtn' type='button' onclick="window.location.href='/contact-form'">Contact us now!</button>
    </div>

    <%- include('./partials/copyright.txt') %>

</body>
</html>
