<div class='offerBox' onclick='window.location.href="<%= offerLink %>"'>
    <div class='offerBoxTopPart'>
        <%= offerBoxTitle %>
    </div>
    <span class='learnMore'>
        <div class='offerBoxNavPart'>
            &emsp;Learn more...
        </div>
    </span>
</div>
