/* redText class needs to change name here and on other pages. Use 'mainColourText' or something similar. */

:root {
    --myGrey: rgb(242, 242, 242);
    --themeColour: green;
    --buttonTheme: #93c572;
    --lumiTheme: #a6ff00;
}

a, a:visited {
    text-decoration: none !important;
    color: black;
}

.addToBasketBtn, .btn-remove {
    background-color: var(--buttonTheme);
    border-radius: 10%;
    font-size: 16px;
    color: white;
}

.btn-remove {
    height: 32px;
    align-self: center;
}

.basket-column {
    margin-top: 6px;
    margin-bottom: 6px;
}

.basket-row {
    display:flex;
    flex-wrap: wrap;
    min-width: 90vw;
    justify-content: space-evenly;
    border: solid 1px black;
    margin: 6px 5vw; /* i.e. top/bottom = 6px; left/right = 5vw;*/
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 3%;
}

.basket-total {
    font-size: 28px;
    border: solid 5px black;
    max-width: 250px;
    margin: auto;
    text-align: center;
    border-radius: 3%;
}

.banner {
    width: 100%;
}

#belowHeadBanner, .belowHeadBannerOtherPages {
    position: relative;
    top: 100px;
    width: 101%;
}

body {
    margin: 0px;
    width: 98vw;
}

.boldText {
    font-weight: bold;
}

.btn-purchase {
    font-size: 28px;
    background-color: var(--buttonTheme);
    width: 100%;
    border-radius: 10%;
}

.btn-purchase-container {
    border: 1px solid red;
    margin: 20px auto;
    width: 250px;
}

.btnToBuyPage {
    background-color: var(--buttonTheme);
    font-size: 20px;
    width: 44%;
    min-width: 220px;
    height: 55px;
    border-radius: 33%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btnToBuyPage:hover, .btn-purchase:hover, .linkBtn:hover {
    background-color: green;
    cursor: pointer;
}

.centredContent {
    display: flex;
    justify-content: center;
}

.centredText {
    text-align: center;
}

#contactBtn {
    min-width: 20vw;
    min-height: 50px;
    border-radius: 33%;
    border: solid 2px var(--themeColour);
    font-size: 22px;
    background-color: var(--myGrey);
}

#contactBtn:hover {
    background-color: rgb(188, 188, 188);
    cursor: pointer;
    border: solid 3px var(--themeColour);
}

.contactBtnOtherPage {
    background-color: var(--buttonTheme);
    font-size: 20px;
    width: 33%;
    min-width: 220px;
    height: 55px;
    border-radius: 33%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.contactBtnOtherPage:hover {
    background-color: rgb(1, 163, 1);
    cursor: pointer;
}

.contactBtnOtherPage:active {
    background-color: rgb(1, 80, 1);
    border: solid 2px black;
    cursor: pointer;
}

#contactBtnDiv {
    padding: 30px;
}

#contactTextDiv {
    font-size: calc(16px + 0.8vw);
    box-sizing: border-box;
    padding: 0vw 1.8vw;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.footDiv {
    padding: 25px;
}

.green {
    background-color: green;
    text-shadow: -1.5px -1.5px 0 var(--lumiTheme), 1.5px -1.5px 0 var(--lumiTheme), -1.5px 1.5px 0 var(--lumiTheme), 1.5px 1.5px 0 var(--lumiTheme);
}

.greenLeftBorder {
    border-left: 14px solid green;
    padding-left: 14px;
}

#headBanner, .headBannerOtherPages {
    display: flex;
    width: 100%;
    background-color: var(--myGrey);
    border-bottom: 1px solid rgb(220, 220, 220);
    height: 105px;
    position: fixed;
    z-index: 100;
}

.headBannerOtherPages {
    border-bottom: 1px solid rgb(220, 220, 220);
    width: 100%;
} 

.headBannerChoicesMain, .headBannerChoicesOtherPages {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

.headBannerChoiceToClick {
    font-size: calc(20px + 1vw);
}

.headBannerChoiceToClick, .headBannerChoiceToClick:visited {
    color: var(--themeColour);
}

.headBannerChoiceToClick:hover, .groupTitleSpan:hover {
    cursor: pointer;
}

.headBannerChoiceWrap {
    padding: 0px 3vh;
}

#headBannerContent, .headBannerContentOtherPages {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

#iframeDiv {
    background-color: var(--themeColour);
    width: 100%;
}

#imagesDisplay {
    width: 800px;
    max-width: 100%;
    height: 400px;
    max-height: calc(50vw);
}

input {
    font-size: 28px;
    max-width: calc(100% - 16px);
}

.basket-quantity-input {
    font-size: 20px;
    max-width: calc(50px);
}

#introInfoOverallDiv, .infoOverallDiv {
    display:flex;
    justify-content: space-evenly;
    width: 100vw;
}

.introInfoBox, .infoBox {
    min-height: 1px;
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

.introInfoText, .infoText {
    font-size: 28px;
}

.infoTextOnBuyPage {
    font-size: 24px;
    margin-top: 18px;
    margin-bottom: 18px;
    max-width: 96vw;
}

#introInfoTextBox {
    width: 750px;
    max-width: 95%;
}

.infoTextBox {
    width: calc(100% + 18vh - 42vw) ;
}

#introInfoTextBox, .infoTextBox {
    box-sizing: border-box;
    background-color: rgb(254, 254, 254);
    min-height: 325px;
    position: relative;
    top: -55px;
    border: 1.6px solid grey;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0.5%;
}

.infoTextBox {
    margin-top: 12px;
    margin-bottom: 12px;
}

.invisible {
    transform: scale(0);
    height: 0px;
}

.item-quantity {
    max-width: 85px;
}

.learnMore {
    color: red !important;
    font-size: 24px;
    position: relative;
    left: -24px;
    width: 130%;
}

.lightGreyBackground {
    background-color: rgb(254, 254, 254);
}

.linkBtn {
    min-width: 20vw;
    width: 300px;
    height: 55px;
    border-radius: 33%;
    font-size: 22px;
    background-color: var(--buttonTheme);
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    align-self: center;
}

#logoAtContact {
    width: 84px;
    height: 116px;
    border: 6px solid var(--themeColour);
    margin: 13px;
}

#logoAtTop, .logoAtTopOtherPages {
    width: calc(3vw + 0.75vh);
    min-width: 45px;
    height: calc(4vw + 1vh);
    min-height: 60px;
    border: 4px solid var(--themeColour);
    z-index: 10;
    position: relative;
    margin: calc(1vw + 2vh);
}

.logoAtTopOtherPages {
    cursor: pointer;
}

#lowerPart {
    position: relative;
    top: -120px;
}

#offersBanner {
    background-color: var(--themeColour);
    height: 400px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#offersBoxesDiv {
    position: relative;
    top: -120px;
    max-width: 100%;
}

.offersBoxesSubdiv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}

#offersTitle {
    position: relative;
    top: -180px;
    left: 20px;
    font-size: 42px;
    text-shadow: -1.5px -1.5px 0 var(--lumiTheme), 1.5px -1.5px 0 var(--lumiTheme), -1.5px 1.5px 0 var(--lumiTheme), 1.5px 1.5px 0 var(--lumiTheme);
}

.offerBox {
    border: 3px solid black;
    height: 254px;
    width: 348px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
    background-color: var(--myGrey);
    padding: 32px 64px 32px 32px;
    box-sizing: border-box;
    border-radius: 1.5%;
}

.offerBoxNavPart {
    font-size: 24px;
    min-height: 65px;
    display: flex;
    align-items: center;
    border-radius: 15%;
    width: 100%;
}

.offerBox:hover {
    background-color: rgb(222, 222, 222);
    cursor: pointer;
}
.offerBoxTopPart {
    font-size: 34px;
    height: 125px;
}

.openCloseIcon {
    color: #D3D3D3;
}

.photoWithinTextBox {
    height: auto;
    width: calc(100% - 44vw + 120px);
    margin-top: 20px;
    border-left: calc(22vw - 60px) solid var(--themeColour);
    border-right: calc(22vw - 60px) solid var(--themeColour);
    border-radius: 2%;
}

.productPriceNote {
    min-width: 50%;
    margin-left: auto;
}

.productsDivOuter {
    /* max-width: 99vw; */
    display: flex;
    justify-content: center;
    background-color: var(--themeColour);
}

.productsDivInner {
    background-color: white;
    display: inline-block;
    padding-left: 3vw;
    padding-right: 3vw;
}

.receiptInfoContainer {
    border: solid var(--themeColour) 1px;
    border-radius: 4%;
    padding: 10px 20px;
    margin: 10px;
    min-width: 50vw;
    max-width: 100px;
}

textarea {
    font-size: 22px;
    width: calc(100% - 16px);
    min-height: 74px;
}

.titleSlightlyHigher {
    position: relative;
    top: calc(-5px - 0.4vw);
}

.toBuyImage {
    height: 24px;
    width: 24px;
}

#videoElement {
    height: 100%;
    width: 100%;
}

#videoBanner {
    background-color: var(--themeColour);
    height: 500px;
    position: relative;
    top: -4px;
}
